parent/vagrant/.vagrant
parent/vagrant/.vagrant/*
.svn
.metadata/
.idea/
*.iml
atlassian-ide-plugin.xml
.settings
*.project
*.classpath
tracker-app/target/
sara/target/
admin-app/target/
common/target/
customer-app/target/
background-app/target/
parent/target/
tracker-data/target/
banner-app/target/
/dump.rdb
/.DS_Store
